@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
    a {
      font-size: 2rem;
      &:last-child {
        &:hover {
          //  border-bottom: 3px solid;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.205);
        }
      }
    }
  }
  .header-title {
    h1 {
      font-size: 0.3rem;
    }
  }
}

@include media-sm {
}

@include media-md {
  .navbar {
    flex-direction: row;
    gap: 1.5rem;
    a {
      font-size: 2rem;
    }
  }
}

@include media-lg {
  .navbar {
    a {
      font-size: 3rem;
      &:last-child {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
