@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;

    a {
      padding: 0.4rem;
      font-size: 2rem;
      &:last-child {
        &:hover {
          box-shadow: 2px 2px 2px 1px $shadowColor;
        }
      }
    }
  }
  p {
    font-size: 1rem;
  }
}

@include media-sm {
  p {
    font-size: 1.2rem;
  }
}

@include media-md {
  .navbar {
    flex-direction: row;
    gap: 1.5rem;
    a {
      padding: 1rem;
      &:last-child {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

@include media-lg {
  .navbar {
    a {
      font-size: 3rem;
    }
  }
}
