// ?=========================================================
// ?                   NAVBAR CSS
// ?=========================================================

@import "../../sass/variables";
.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: center;
  // gap: 1.2rem;
  a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: $backgroundColor;
      color: $cardNavBgColor;
    }
  }
}
