// ?=========================================================
// ?                   APP CSS
// ?=========================================================
@import "./sass/reset", "./sass/variables", "./sass/mixins", "./sass/responsive";

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

.App {
  background-color: $backgroundColor;
}

body {
  font-family: "Amatic SC", cursive;
}
h1 {
  font-size: 3rem;
  color: black;
}
h2 {
  font-size: 2rem;
  color: white;
}
p {
  font-family: "Hubballi", cursive;
}
